.all-space {
    display: flex;
    flex-direction: column;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.editor-terminal-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.comment-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
