.all-space {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.editor-terminal-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    height: 100%; /* 高さを全体に設定 */
}

.terminal-container {
    flex: 1;
    max-height: 200px; /* Terminalの高さを固定 */
    overflow: auto;
}

.comment-section {
    width: 300px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
