.all-space {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.editor-space {
  flex: 1;
  height: 90vh; /* Adjust height as needed */
  overflow: auto;
}

.terminal-container {
  height: 10vh;
  overflow: hidden;
}

.comment-section {
  width: 300px; /* Adjust width as needed */
  display: flex;
  flex-direction: column;
}

.comment-section > * {
  margin-bottom: 10px; /* Add spacing between CommentList and CommentForm */
}
