.all-space {
  display: flex;
  flex-direction: column;
  
}

.editor-space {
  flex: 1;
  height: 90vh;
  overflow: auto;
}

.editor-terminal-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  height: 100%; /* 高さを全体に設定 */
}

.comment-section {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 1.5%;
}

.comment-section > * {
  margin-bottom: 10px;
}

.terminal-container {
  background-color: white;
  color: black;
  font-family: monospace;
  font-size: 14px;
  overflow: auto;
  height: 200px; /* Adjust height as needed */
  margin-top: 10px;
  margin-bottom: 10px;
}

.terminal-container .xterm-viewport {
  background-color: white;
  color: black;
}

.terminal-container .xterm-cursor {
  background-color: black;
  color: white;
}

.terminal-container .xterm-rows {
  padding: 10px;
}

.command-field {
  width: 100%;
  resize: none;
  position: absolute;
  bottom: 0;
}
