.devicon-javascript-plain {
    color: #f7df1e; /* JavaScriptアイコンの色 */
  }
  
  .devicon-html5-plain {
    color: #e34c26; /* HTMLアイコンの色 */
  }
  
  .devicon-css3-plain {
    color: #1572b6; /* CSSアイコンの色 */
  }
  
  .devicon-python-plain {
    color: #3776ab; /* Pythonアイコンの色 */
  }
  
  .devicon-folder-opened {
    color: #ffcc00; /* フォルダーアイコンの色（例） */
  }
  
  /* 他のアイコンの色もここに追加 */
  