.terminal-container, .terminal-area, .ewet-terminal-panel {
  color: #fff;
  font-family: "Fira Mono", monospace;
  height: 100%;
  min-height: 60px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 12px 12px 0 12px;
  margin: 0;
}

.terminal-output {
  flex: 1;
  background: none;
  color: inherit;
  overflow-y: auto;
  margin-bottom: 8px;
  font-size: 1.05em;
}

.terminal-input {
  background-color: #1d1d1d;
  color: #fff;
  border: none;
  outline: none;
  width: 96%;
  font-family: inherit;
  font-size: 1em;
  padding: 6px;
  border-radius: 3px;
  margin-bottom: 8px;
}
