.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .terminal-result {
    position: relative;
    overflow: auto;
    resize: vertical;
  }
  
  .resize-handle {
    width: 100%;
    height: 10px;
    background: #ccc;
    cursor: ns-resize;
    position: absolute;
    bottom: 5%;
  }
  
  .editor-line {
    margin-top: 10px;
  }
  
  .editor-space {
    flex: 1;
    height: calc(100vh - 200px); /* Adjust this value as needed */
    margin: 0px;
    overflow: auto;
  }
  